<!DOCTYPE html>
<html dir="ltr" lang="en-US" class="no-js">
  <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<!-- Page-specific information -->
		<title>{{ seo_title | default: title | default: site.title }}</title>
		<meta name="description" content="{{ seo_description | default: excerpt | default: site.description }}">
		<meta name="robots" content="index,follow">
		<link rel="author" href="/humans.txt">

		<!-- PWA -->
		<link rel="manifest" href="/manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="{{ site.title }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="{{ site.title }}">

		<!-- Icons -->
		<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <meta name="msapplication-TileImage" content="img/favicon/ms-touch-icon-144x144-precomposed.png">
    <link rel="icon" type="image/png" sizes="192x192" href="img/favicon/chrome-touch-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
		<link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5">

		<!-- Colors -->
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#1a1aff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-TileColor" content="#2F3BA2">

{% include _globals/styles %}

{% if slug == '.' %}
		<!-- Netlify CMS Identity -->
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{% endif %}

  </head>

  <body class="site{% if layout_type %} {{ layout_type }}{% endif %}{% if content_type %} {{ content_type }} {{ content_type }}-{{ page.fileSlug }}{% endif %}">

{% include _globals/skip-link %}

{% include _globals/header %}

{% include _globals/navigation %}

		<main id="content" class="site-main">