<header role="banner" class="{{ platform }}-header">
  {%- if slug == '.' %}
  <h1 class="{{ platform }}-title"><a class="{{ platform }}-title__link" href="/">{{ app.data.title }}</a></h1>
  {%- else %}
  <p class="{{ platform }}-title"><a class="{{ platform }}-title__link" href="/">{{ app.data.title }}</a></p>
  {%- endif %}
  <p class="{{ platform }}-description">{{ app.data.description }}</p>
</header>