<!DOCTYPE html>
<html class="no-js" lang="{{ site.lang }}">
<head>
  {% include meta/utf %}
  {% include meta/viewport %}
  {% include meta/ie %}
  {% include meta/page %}
  {% include meta/robots %}
  {% include meta/pwa %}
  {% include meta/icons %}
  {% include meta/colors %}
  {% include meta/styles %}
</head>
<body class="site {% if contentType %}{{ contentType }} {{ contentType }}-{{ page.fileSlug }}{% endif %}">
  {{ content }}
  {% include meta/scripts %}
</body>
</html>