  {% unless seoTitle %}
  {% capture seoTitle %}
    {% unless slug == '.' %}{% if contentType == 'article' %}{{ article.title }}{% elsif contentType == 'project' %}{{ project.title }}{% elsif contentType == 'testimonial' %}{{ testimonial.name.first }} {{ testimonial.name.last }}{% else %}{{ title }}{% endif %} | {% endunless %}{{ site.title }}
  {% endcapture %}
  {% endunless %}
  <title>{{ seoTitle }}</title>